* {
    font-family: 'Roboto', sans-serif;
}

.container, .container-fluid {
    background-image: url("images/moroccan-flower.png");
}

#navbar {
    border-bottom: 2px solid #006600;
}

/* Move carousel caption to top of image */
.carousel-caption {
    top: 0;
    bottom: auto;
}

.carousel-item img {
    border-bottom: 2px solid #006600;
}

a, #mission, #contact, #board, #covid {
    color: #006600 !important;
}

#covidNav {
    font-weight: bolder;
}

#missionSec, #contactSec, #boardSec, #covidSec {
    margin: 30px;
    font-style: italic;
    font-weight: bold;
}

#accordian, .fb-page {
    border-left: 1px solid #006600;
    border-right: 1px solid #006600;
}

.footer-copyright {
    border-top: 1px dotted #006600;

}
